.cardCSS2 {
  height: 75vh;
  width: 75ch;
  margin: auto;
}
.inputFields {
  width: 70%;
  left: 30%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  border-bottom: 2px solid grey;
  height: 40px;
}
.inputFields :focus {
  border: none;
}

.signInbtn {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.button {
  position: absolute;
  //   top: 50%;
}
.backColor {
  //   background-color: #d1e8e2;
  background-color: #047bd5;
  background-repeat: no-repeat;

  height: 100%;
}
.imageCss {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2%;
}
.alignSelfCenter {
  align-self: center;
}
.bottom-class {
  bottom: 0;
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 75vh;
  width: 75ch;
  margin-top: -37.5vh; /*set to a negative number 1/2 of your height*/
  margin-left: -37.5ch; /*set to a negative number 1/2 of your width*/
}
.color-blue {
  color: #047bd5;
}
.btn-Center {
  margin-left: 30%;
}
.color-grey {
  color: rgb(170, 170, 170);
}
.loginbtn {
  border-color: #fb641b;
  color: black;
  width: 75%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.loginbtn :hover {
  background-color: #fb641b;
  color: white;
}
