.cardCSS2 {
  height: 96vh;
  width: 75ch;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}
.inputFields {
  width: 40ch;
  margin: auto;
}
.signInbtn {
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.button {
  position: absolute;
  //   top: 50%;
}
.backColor {
  //   background-color: #d1e8e2;
  background-color: #f3dbc2;
}
.imageCss {
  height: 25vh;
  width: 25vh;
  //   position: absolute;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.alignSelfCenter {
  align-self: center;
}
