<div class="container">
    <div class="card center shadow flex-row">
        <div class="col-lg-4 col-md-4 col-sm-4 backColor">
            <div>
                <h2 class="text-white m-2">Login</h2>
            </div>
            <div class="text-white m-2">
                <p>Get access to your Orders, Wishlists and Recommendations </p>
            </div>
            <div class="bottom-class">
                <img src="assets/E-comm1.png" alt="E-commerce-Logo" class="imageCss">
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="mt-5">
                <input class="inputFields shadow" type="text" placeholder="Enter Your Email ID">
            </div>
            <div>
                <input class="inputFields shadow" type="password" placeholder="Enter Your Password">
            </div>
            <div class="mt-1 btn-Center">
                <button class="btn btn-outline-danger ">
                    Forgot Password?
                </button>
            </div>
            <div class="m-2">
                <p class="text-center">By continuing, you agree to Flipkart's <span class="color-blue">Terms of
                        Use</span> and <span class="color-blue">Privacy
                        Policy</span> .
                </p>
            </div>

            <div>
                <button class="btn loginbtn">
                    Login
                </button>
            </div>

            <p class="color-grey text-center">OR</p>
            <div>

            </div>

        </div>
    </div>
</div>