<div class="container ">
    <div class="row">
        <div class="card cardCSS2 shadow  rounded  backColor">

            <div class=" mt-5 mb-3">
                <h1 class="text-center text-white">
                    User Login Page
                </h1>
            </div>
            <div class="m-2 alignSelfCenter">
                <img src="assets/maleAvatar.png" alt="Profile avatar" class="imageCss">
            </div>
            <div class="m-2">

                <input type="text" class="form-control inputFields">
            </div>
            <div class="m-2">
                <input type="password" class="form-control inputFields">
            </div>
            <div class="signInbtn d-flex">
                <div class="m-1">
                    <button class="btn btn-success ">
                        Sign In
                    </button>
                </div>
                <div class="m-1">
                    <button class="btn btn-danger">
                        Forgot Password
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>