<div class="container mt-1 mb-1">
    <div class="d-flex flex-row card p-3 cardCss shadow bg-white rounded mt-2 mb-2">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-1 ml-1 mb-1">
            <!-- Tag for image and designing  -->

            <div class="innerCards card backColor">
                <h1 class="center3">Infinity</h1>
                <div class="center">
                    <img [src]="imageString" alt="Login" class="rounded-lg img-container imageCss shadow-sm" />
                </div>
                <p class="text-wrap center2">
                    A UI to remember. A UI to remember. A UI to remember. A UI to
                    remember. A UI to remember.
                </p>
            </div>
        </div>
        <!--                                                         Right Card                                                    -->
        <div class="col-sm-6 col-md-6 col-lg-6 mb-1 mt-1 mr-1">
            <!-- Tag for image and designing  -->
            <div class="innerCards card text-center">
                <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green"
                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                    <path fill-rule="evenodd"
                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                </svg>
                <h4 class="mt-5">Welcome To</h4>
                <h1 class="h1 mt-2">Infinity</h1>
                <p class="colorGreyText">
                    Login to get in the moment updates on the things that interests you.
                </p>

                <div class="flex row">
                    <div class="m-1 label">
                        <label for="">Full User Name</label>
                    </div>
                    <div class="m-1 input">
                        <input type=" text" class="form-control" />
                    </div>
                </div>

                <div class="flex row">
                    <div class="m-1 label">
                        <label for="">Password</label>
                    </div>
                    <div class="m-1 input">
                        <input type="password" class="form-control" />
                    </div>
                </div>
                <div>
                    <button class="btn ml-1 mb-3 mt-3 mr-3 btn btn-outline-success">
                        Sign In
                    </button>
                </div>
                <div>
                    <p>Don't have account? <span class="icon-color"><a href="https://www.w3schools.com/">Sign Up
                                Now </a></span> </p>
                </div>
                <div class="separator  m-4">OR</div>
                <div>
                    <p class="colorGreyText mt-2">Continue with Social Media Options</p>
                </div>
                <div class="m-1 d-inline-flex divCenter">
                    <div>
                        <button class="icon-buttons">
                            <i class="fa fa-facebook"></i>
                        </button>
                    </div>
                    <div>
                        <button class="icon-buttons">
                            <i class="fa fa-google"></i>
                        </button>
                    </div>

                    <div>
                        <button class="icon-buttons">
                            <i class="fa fa-linkedin"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>