.cardCss {
  height: calc(100vh);
  width: auto;
}
.img-container {
  text-align: center;
  //   display: block;
}
.innerCards {
  height: 100%;
  width: 100%;
}
.imageCss {
  height: 35%;
  width: 50%;
}
.imageDiv {
  display: flex;
  justify-content: center;
}
.center {
  position: absolute;
  left: 55%;
  top: 48%;
  transform: translate(-50%, -50%);
}
.center2 {
  position: absolute;
  left: 45%;
  top: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  color: white;
}
.center3 {
  position: absolute;
  left: 42%;
  top: 36%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  color: white;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
}
.icon-color {
  color: #4caf50;
}
.h1 {
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: -webkit-radial-gradient(
    rgba(54, 99, 37, 0.9),
    rgba(202, 202, 84, 0.8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.backColor {
  background-image: linear-gradient(
    rgb(54, 99, 37, 0.9),
    rgba(202, 202, 84, 0.8)
  );
}
.colorGreyText {
  color: rgba($color: #9c9797, $alpha: 0.8);
}
.label {
  width: 40%;
}
.input {
  width: 50%;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.fa {
  padding: 20px;
  font-size: 22px;
  width: 60px;
  // text-align: center;
  text-decoration: none;
  // margin: 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.icon-buttons {
  background-color: transparent;
  border: transparent;
  height: fit-content;
  width: fit-content;
}
.divCenter {
  margin: auto;
  width: 35%;
  align-self: center;
}
