<div class="card example-card  shadow row show-to-full">
    <div class="col-md-4 col-lg-4 back-blue dont-show ">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="txt-color-white fontFamily m-3">Seems like you are new here !</h1>
            </div>
            <div class="col-md-12 col-lg-12">
                <p class="txt-color-white  m-3 fontSize "> Signup with some basic details to get started</p>
            </div>
            <div class="col-md-12 col-lg-12 posBottom">
                <img class="image-css m-2" src="assets//onlinegift.svg" alt="welcome">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-sm-12 m-3 dont-show2">
                <h2 class="txt-blue text-center">SignUp with some basic Details </h2>
            </div>

        </div>
    </div>
</div>