<div class="card shadow  cardCSS2 center">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <p>CHina</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <li>
                a
            </li>
            <li>
                a
            </li>
            <li>
                a
            </li>
            <li>
                a
            </li>
        </div>
        <div class="col-lg-6 col-md-9 col-sm-12">
            <p>Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream
                Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum !
                Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream Ipsum ! Loream
                Ipsum ! Loream Ipsum ! Loream Ipsum ! </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div>
                <h3>What ?</h3>
                <p>China is neighbooring country of India</p>
            </div>
            <div>
                <h3>Where ?</h3>
                <p>In Asia </p>
            </div>
            <div>
                <h3>Where ?</h3>
                <p>In Asia </p>
            </div>

        </div>
    </div>
</div>