<div class="card example-card  shadow row show-to-full">
    <div class="col-md-4 col-lg-4 back-blue dont-show ">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h1 class="txt-color-white fontFamily m-3">Seems like you are new here !</h1>
            </div>
            <div class="col-md-12 col-lg-12">
                <p class="txt-color-white  m-3 fontSize "> Signup with some basic details to get started</p>
            </div>
            <div class="col-md-12 col-lg-12 posBottom">
                <img class="image-css m-2" src="assets//onlinegift.svg" alt="welcome">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 ">

        <div class="row mt-2">
            <div class="col-sm-12  dont-show2">
                <h2 class="txt-blue text-center"> SignUp with some basic Details</h2>
            </div>
        </div>
        <div class="card shadow p-3 div-left-right-center show-to-half">
            <div class="row mt-2">
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2">
                    <input class="myInputField" style="max-width: 300px;" type="text" class="form-control"
                        placeholder="Enter First Name" />
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2 ml-1 mr-1">
                    <input class="myInputField" style="max-width: 300px;" type="text" class="form-control"
                        placeholder="Enter Last Name" />
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2 ml-1 mr-1">
                    <input class="myInputField" style="max-width: 300px;" type="email" class="form-control"
                        placeholder="Enter Email ID" />
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2 ml-1 mr-1">
                    <input class="myInputField" style="max-width: 300px;" type="number" class="form-control"
                        placeholder="Enter Phone Number" />
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2 ml-1 mr-1">
                    <input class="myInputField" style="max-width: 300px;" type="password" class="form-control"
                        placeholder="Enter Your Password" />
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 mt-2 ml-1 mr-1">
                    <input class="myInputField" style="max-width: 300px;" type="password" class="form-control"
                        placeholder="Confirm Password" />
                </div>
                <div class="m-2">
                    <p>By continuing, you agree to Flipkart's <span class="txt-blue">Terms of use </span> and <span
                            class="txt-blue">Privacy
                            Policy</span>.
                    </p>
                </div>
                <div class="col-sm-10 col-lg-12 col-md-12 mt-3  ">
                    <button class="btn back-orange button-center">
                        SignUp
                    </button>
                </div>
                <div class="col-sm-10 col-lg-12 col-md-12 mt-3  left-right-center ">
                    <button class="btn txt-blue shadow sm button-center">
                        Existing User? Login
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>