.example-card {
  width: 75%;
  height: 75%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.txt-blue {
  color: #047bd5;
  font-family: Bookman;
}

.back-orange {
  background: rgb(255, 136, 0);
  height: 100%;
}
.back-blue {
  background: #047bd5;
  height: 100%;
}
.txt-color-white {
  color: white;
}

.top {
  top: 0;
  margin-bottom: 150%;
  margin-left: 5%;
  margin-right: 5%;
}
.image-css {
  width: 94%;
}
.posBottom {
  bottom: 0;
  position: absolute;
  width: 35%;
  margin-bottom: 5px;
}
/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .dont-show {
    display: none;
  }
}
.fontFamily {
  font-family: Bookman;
}
.margin-all-zero {
  left: 0;
  right: 0;
}
.fontSize {
  font-size: medium;
}

.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
  // color: #ff2300;
  //   border-color: #ff2300;
}
input:focus,
input:valid {
  border-color: #047bd5;
}
input:focus ~ label,
input:valid ~ label {
  font-size: 14px;
  top: -24px;
  color: #047bd5;
}

@media only screen and (min-width: 599px) {
  .dont-show2 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .show-to-full {
    width: 100%;
    height: 100%;
  }
}
.myInputField {
  border: none;
  max-width: 300px;
}
.left-right-center {
  left: 0;
  right: 0;
}
@media only screen and (min-width: 800px) {
  .show-to-half {
    width: 50%;
    height: 100%;
  }
}
.div-left-right-center {
  margin: auto;
}
.button-center {
  display: block;
  margin: auto;
}
